<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1>Welcome to Create Service Page</h1>

    <form action="/service/new" method="post">
        <label for="">Service</label>
        <input type="text" name="service">
        <label for="">Price</label>
        <input type="text" name="price">
        <label for="">Details</label>
        <input type="text" name="details">
        <% providers.forEach((provider)=> { %>
        <select name="provider" id="">
            <option value="<%=provider._id %>">
                <%=provider.name %>
            </option>
        </select>

        <% })%>
        <button>Create a Serveice</button>

    </form>
</body>
</html>
