<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Serveice Page</h1>
</body>
</html>

    service: {
        type: String,
        
    },
    price: Number,
    details: String,
    user: {type: mongoose.Schema.Types.ObjectId,
        ref: 'User'
    },
    provider: {type: mongoose.Schema.Types.ObjectId,
        ref: 'Provider'
    },
    appointment: {type: mongoose.Schema.Types.ObjectId,
        ref: 'Appointment'
    }
