<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Providers Page</h1>

    <form action="/provider/new" method="post">
        <label for="">Name:</label>
        <input type="text" name="name">
        <label for="">Email:</label>
        <input type="text" name="email">
        <label for="">Photo:</label>
        <input type="text" name="image">
        <label for="">Qualification:</label>
        <input type="text" name="qualification">

        <button>Add Provider</button>
        
    </form>

</body>
</html>

